@import "tailwindcss";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

:root {
  /* Main color */
  /* Bg color */
  --color-bg: #121212;
  --color-bg-active: #212121;
  /* Button color */
  /* Input color */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-bg: var(--color-bg);
  --color-bg-active: var(--color-bg-active);
}
