@import "tailwindcss";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

:root {
  /* Main color */
  /* Bg color */
  --color-bg: #121212;
  --color-bg-active: #212121;
  /* Button color */
  /* Input color */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color-bg);
}

@theme {
  --color-bg: var(--color-bg);
  --color-bg-active: var(--color-bg-active);
}

@layer utilities {
  input[type="range"] {
    @apply appearance-none w-full h-2 bg-bg-active rounded-lg outline-none;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none h-5 w-2 bg-white border-none cursor-pointer relative bottom-1;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-bg-active rounded-lg h-2;
  }
}
