@import "tailwindcss";

:root {
  /* Main color */
  --color-main-pink: #ee10b0;
  --color-main-blue: #0e9eef;

  /* Bg color */
  --color-bg: #181818;
  --color-action: #363636;

  /* Button color */

  /* Input color */

  --color-bg-input: #1f1f1f;

  background-color: #181818;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-main: 40px;
  --text-h1: 32px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-h4: 16px;
}

@theme {
  /* Main color */

  --color-main-pink: var(--color-main-pink);
  --color-main-blue: var(--color-main-blue);

  /* Bg color */

  --color-bg: var(--color-bg);
  --color-action: var(--color-action);
  /* Font size */ /* Input color */
  --color-bg-input: var(--color-bg-input);
  --text-main: var(--text-main);
  --text-h1: var(--text-h1);
  --text-h2: var(--text-h2);
  --text-h3: var(--text-h3);
  --text-h4: var(--text-h4);
}
